.task-management{
  margin: 35px 0;

  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    .box{
      box-shadow: rgba(49, 78, 207, 0.2) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      padding: 20px 10px;
      border-radius: 5px;
    }
  }

  .heading{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .Tasks{
    display: grid;
    gap: 15px;
    
    .task {
      border-radius: 5px;
      box-shadow: rgba(49, 78, 207, 0.2) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
  }
}