// import variales
@import "../../sass/variable.scss";

.footer {
    background: $blue;
    color: $white;
    font-weight: 300;
    padding: 15px 0;
}

.footer .logo a {
    color: $white;
    cursor: pointer;
    font-size: 25px;
}