@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";

.add-task-form {
  margin: 50px auto;

  @include tablet {
    max-width: 500px;
    width: auto;
    margin: 50px auto;
    padding: 20px 10px;
  }

  input {
    box-sizing: border-box;
  }

  select {
    padding: 6px 5px;
    font-size: 14px;
    border: 1px solid $blue;
    background: white;
    border-radius: 5px;

    &:focus {
      outline: 1px solid $blue;
      border: 1px solid $blue;
    }
  }

  .back-home {
    text-decoration: underline;
    transition: .3s;
    color: rgba($blue, 0.6);

    &:hover {
      color: $blue;
    }
  }
}